<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="sendAction" class="com.xixi.action.SendAction" />
	
	<bean id="baseAction" class="com.xixi.action.BaseAction" scope="prototype">
		<property name="categoryService" ref="CategoryService"></property>
		<property name="accountService" ref="AccountService"></property>
	</bean>
	<bean id="categoryAction" class="com.xixi.action.CategoryAction" scope="prototype" parent="baseAction"/>
	<bean id="accountAction" class="com.xixi.action.AccountAction" scope="prototype" parent="baseAction"/>
</beans>